{{#if @site.cover_image}}
<div class="hero-banner">
  <div class="hero-wrap">

    <div class="hero-content">
      <div class="content-wrap">
        <div class="site">{{ @site.title }}</div>
        
        <h1 class="title">{{ @site.description }}</h1>
        <div class="subtitle">
          <p>{{ @site.meta_description }}</p>
        </div>
      </div>
    </div>

    <div class="hero-feature">
      <div class="hero-feature-wrap">
        <img src="{{ @site.cover_image }}" alt="{{ @site.title }}">
      </div>      
    </div>

  </div>
</div>
{{/if}}