<div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l o-grid__col--initial-grow'>
  <a href='{{ url }}' class='c-tag-card {{#unless feature_image}}c-tag-card--solid{{/unless}}'>
    {{#if feature_image}}
      <img class='c-tag-card__image lazyload' data-src='{{ img_url feature_image size='ml' }}' alt='{{ name }}' width='294' height='289'>
    {{/if}}
    <h2 class='c-tag-card__title'>{{ name }} <span class='u-type-xs'>({{ count.posts }})</span></h2>
  </a>
</div>