{{!< default}}

{{#post}}

<main class='o-wrapper'>
  <article>
    {{> post-header }}

    <div class='o-grid'>
      <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s'>
        <div class='c-{{ post_class }}'>
          {{!-- Show the tags, share, subscribe box, and comments if visitor can access the post, this means that:
          1. The post is public for anyone
          2. The post is published for subscribers and the visitor is a subscriber
          3. The post is for paid members only and the visitor is a paid member --}}
          {{#if access}}
            <div class='c-content'>
              {{ content }}
            </div>

            {{bluedot_comment_button}}

            {{#if tags}}
              <div class='c-tags'>
                {{ tags separator='' }}
              </div>
            {{/if}}

            {{> share }}

            {{!-- If the post is published for members and paid members and the visitor is not one of those, show the upgrade box --}}
            {{#unless @member}}
              {{#if access}}
                <div class='c-subscribe'>
                  <div class='o-grid'>
                    <div class='o-grid__col o-grid__col o-grid__col--3-4-m o-grid__col--3-4-l o-grid__col--center'>
                      <div data-icon='ei-envelope' data-size='m' class='c-subscribe__icon'></div>
                      <h3 class='u-type-sm u-type-500 u-color-gray u-mb-32'>{{t 'Become a subscriber to access all of our content.' }}</h3>
                      {{> subscribe-form inputLabel='subscribe-email-post'}}
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/unless}}
          {{!-- If the post is published for members and paid members and the visitor is not one of those, show the upgrade box --}}
          {{else}}
            <!-- from bluedot -->
            {{bluedot_paywall}}
          {{/if}}
        </div>
      </div>
    </div>
  </article>
</main>

{{bluedot_paywall_popup}}

{{/post}}

{{> related-posts}}

{{> shop }}