<div class="s-product-media__container">
  <img
    alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
    class="s-product-media__image--cover"
    src="{{img_url feature_image}}"
    >
  <div class="s-product-media">
    <img
      alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
      class="s-product-media__image"
      src="{{img_url feature_image}}"
      >
  </div>
</div>